
 body {
    background-color: rgb(237, 237, 226);
    font-family: 'Atma', cursive;
 }
 .header {
    margin-bottom: 100px;
 }

 .header_title {
    text-align: center;
    font-size: 3em;
}

.header_img {
    width: 25%;
    border-radius: 50%;
    display: block;
    margin: auto;   
}

.header_text {
    text-align: center;
    font-size: 1.3em;
}

.fish_header {
  text-align: center;
}
.fish {
    display: flex;
    align-items: stretch;
}
.fish_leftpanel {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.fish_rightpanel {
    flex: 2;
}

.fish_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: space-evenly; */
    
}


.fish_img {
    width: 70%;
}

.fish_card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  padding: 15px;
}

.tip_header {
    text-align: center;
}
.tip_topic {
    text-align: center
}

.places_header {
    text-align: center;
    font-size: 1.5em;
}


.quotes {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}


.places_holder{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.places_card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    padding: 15px;
}

.places_card img{
    width: 70%;
}
